*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    background-color: #AEB6BF !important;
}
#q-p .card {
    height: 130px;
}
#available{
    height:255px;
    background-color: rgba(10, 211, 77, 0.907) !important;
}
h2{
    color: rgba(10, 211, 77, 0.907);
}
.card{
    margin: 10px 0;
    border: none;
    border-radius: 10px !important;
    background-color: #1C2035 !important;
}

i{
    font-size: 30px;
}
h3{
    color: white;
}
h4{
    color: black;
}
span{
    font-size: 30px;
}
.mcall span::after{
    content: " :";
}
#day::after{
    content: " days :";
}
#sec::after{
    content: "";
}
.title{
    font-size: 20px;
}
h6{
    font-size: 15px !important;
}
.profile{
    height: auto;
}
.box{
    padding: 15px 0;
}
.box img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
table img{
    width: 50px;
    border-radius: 50%;
}
